- content_for :active_title, "report"
.authform
  = form_for @foul do |f|
    %br
    .form-group
      = f.select :owner_id, @users.collect { |p| [p.email, p.id] }, {},
        class: 'form-control'
    .form-group
      = f.text_area :description, class: 'form-control'
    .form-group
      = f.submit "Tell on 'em", class: 'form-control'
