- content_for :active_title, "new_game"
.authform
  = form_for(@new_game) do |f|
    %h4 Start a new game
    Start a game with:
    .form-group
      = f.select :user_ids, @opponents.collect { |p| [p.email, p.id] }, {},
        class: 'form-control'
    .form-group
      = f.submit "Let's go", class: 'form-control'
