%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} WhatchYourLanguage
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: yield(:active_title) == "report" ? "active" : ""}
        =link_to("Report'em!", new_foul_path, class: "nav-link")
      %li.nav-item{class: yield(:active_title) == "history" ? "active" : ""}
        =link_to("Lookie here", fouls_path, class: "nav-link")
    %span.navbar-text
      - if user_signed_in?
        %ul.navbar-nav.mr-auto
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %span{ class: @points > 0 ? "text-success" : @points < 0 ? "text-danger" : "" }
                = "Yo, " + (user_name(current_user)) + "! "
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              .dropdown-item
                - if @points > 0
                  Yahoo! You are ahead!
                - elsif @points < 0
                  How dare you be behind!
                - else
                  Well, fine
                %spna{ class: @points > 0 ? "text-success" : @points < 0 ? "text-danger" : "" }
                  = @points
              .dropdown-divider
              =link_to("Check out your profile", edit_user_registration_path, {class: "dropdown-item"})
              =link_to("Sign the hell out", destroy_user_session_path, method: :delete, class: "dropdown-item")
      - else
        You betta
        =link_to("sign in", new_user_session_path)
